@{
    Layout = "~/Views/Login/LoginLayout.cshtml";
}

@{ ViewBag.Title = "Login";}


<h1 style="padding-left:30px;">SIMPLY ACT OF KINDNESS</h1>


<form action="action_page.php">
    <div id="kirjaudu">
        <label for="sposti"><b></b></label>
        <input type="text" id="sposti" placeholder="Sähköpostiosoite" name="sposti" required>
        <br />
        <label for="psw"><b></b></label>
        <input type="password" id="psw" placeholder="Salasana" name="psw" required>
        <br />
        <label>
            <input type="checkbox" name="muistaKäyttäjä">
            Muista käyttäjä
        </label>
        <br />
        <br />

        

        <a href="/Profile/ProfilePage" class="btn" id="button1">Kirjaudu</a>
            
        <br />
        <br />
        <span class="psw">
            <a href="#">
                Salasana unohtunut?
            </a>
        </span>
        <br />
        <span class="uusiKäyttäjä">
            <a href="~/Profile/ProfilePage/">
                Lisää uusi käyttäjä
            </a>
        </span>
    </div>

<div id="salli">
    <label>
        <input type="checkbox" name="Faceb">
        Salli sovelluksen jakaa ilmoituksia Facebookissa
    </label>
    <br />
    <label>
        <input type="checkbox" name="Kamera">
        Salli sovelluksen käyttää kameraa
    </label>
    <br />
    <label>
        <input type="checkbox" name="Sijainti">
        Salli sovelluksen käyttää sijaintia
    </label>
</div>
            </form>
