
@{ ViewBag.Title = "MainPage";}

@*@{Layout = "~/Views/Login/LoginLayout.cshtml"; }*@

<h1>SIMPLY ACT OF KINDNESS</h1>

@section scripts {
    <link href="@Url.Content("~/Content/Styles/LoginStyle.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            $.getJSON("/mainpage/getlist", null, function (json) {
                var hyvatTeot = JSON.parse(json);
                //alert("tekojen lkm: " + hyvatTeot.length);

                var html = "";

                for (var index = 0; index < hyvatTeot.length; index++) {

                    html +=
                        "<li>" +
                        <link href="@Url.Content("~/Views/Prize/Prize.cshtml")" /> +
                        "<input class='btn btn-default' type='button' value=" + hyvatTeot[index].TeonNimi + " id='button'/>" +
                        "</a>" +
                        "</li>"
                }
                $("#hyvaTekoList p").html(html);
            });
        });
    </script>
}
<div style="background-color:#116e65, #a7f1ea" id=hyvaTekoList>
    <p>
    </p>
</div>
