@*@{
    Layout = "~/Views/Login/LoginLayout.cshtml";
}*@

@{
    ViewBag.Title = "MainPage";
}

<h1>SIMPLY ACT OF KINDNESS</h1>
@section scripts {

    <script type="text/javascript">
        $(function () {
            $.getJSON("/mainpage/getlist", null, function (json) {
                var hyvatTeot = JSON.parse(json);
                //alert("tekojen lkm: " + hyvatTeot.length);

                var html = "";

                for (var index = 0; index < hyvatTeot.length; index++) {
                    //alert("arvo on: " + hyvatTeot[index].TeonNimi);
                    html +=
                        "<li>" +
                        //"<a href='~/Prize/Prize/'>" +
                        "<a href='http://www.yle.fi'>" +
                        "<input class='btn btn-default' type='button' value=" + hyvatTeot[index].TeonNimi + " id='button'/>" +
                        "</a>" +
                        "</li>"
                }

                $("#hyvaTekoList p").html(html);


            });
        });
    </script>
}
<div style="background-color:white" id=hyvaTekoList>
    <p>
    </p>
</div>

