
@{ ViewBag.Title = "MainPage";}


<h1>SIMPLE ACT OF KINDNESS</h1>

<h2>Tervetuloa käyttäjä</h2>


@section scripts {
    <link href="~/Content/Styles/LoginStyle.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            $.getJSON("/MainPage/HyvaTeko", null, function (json) {
                var hyvateko = JSON.parse(json);

                var html = "";

                for (var index = 0; index < hyvateko.length; index++) {
                    //alert(lunastamattomat[index].voimassaolopvm);
                    var nappulateksti = hyvateko[index].TeonNimi;
                    var tekoID = hyvateko[index].tekoID;
                    var url = "/prize/Index/" + tekoID;
                    //alert(url);
                    html +=
                        "<div id='nappulat'>" +    
                        "<br></br>"+
                    "<a href=" + url + " class='btn btn-default'>" + nappulateksti + "</a>" +
                        "</div></div>"
                }
                $('#lunastamattomatpalkinnot p').html(html);
            });
        });
    </script>

}



<div id=lunastamattomatpalkinnot>
    <p>
    </p>
</div>
<a href="/Profile/ProfilePage" class="btn" id="button1">Profiilisivulle</a>



