<!DOCTYPE html>
<html>
<head>
    <title>SIMPLE ACTS OF KINDNESS</title>
    <link href="~/Content/Styles/MainPageStyle.css" rel="stylesheet"/>

</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div id="footer">
        &copy; 2018 - Simple acts of kindness.
    </div>
</body>
</html>
