@{
    Layout = "~/Views/Login/LoginLayout.cshtml";
}

@{
    ViewBag.Title = "MainPage";
}

<h1>SIMPLY ACT OF KINDNESS</h1>


<form action="action_page.php">
    <ul>
        <li>
            <br />
            <a href="~/Prize/Prize/">
                <input class="btn btn-default" type="button" value="AUTOIN VANHUSTA" id="button" />
            </a>
        </li>
        <li>
            <br />
            <a href="~/Prize/Prize/">
                <input class="btn btn-default" type="button" value="SAIN TOISEN HYMYILEMÄÄN" id="button" />
            </a>
        </li>

        <li>
            <br />
            <a href="~/Prize/Prize/">
                <input class="btn btn-default" type="button" value="AVASIN OVEN" id="button" />
            </a>
        </li>
        <li>
            <br />
            <a href="~/Prize/Prize/">
                <input class="btn btn-default" type="button" value="KUUNTELIN / JÄIN KESKUSTELEMAAN" id="button" />
            </a>
        </li>
        <li>
            <br />
            <a href="~/Prize/Prize/">
                <input class="btn btn-default" type="button" value="TEIN LUMITYÖT TOISELLE" id="button" />
            </a>
        </li>
        <li>
            <br />
            <a href="~/Prize/Prize/">
                <input class="btn btn-default" type="button" value="SIIVOSIN TOISEN SOTKUN" id="button" />
            </a>
        </li>
        <li>
            <br />
            <a href="~/Prize/Prize/">
                <input class="btn btn-default" type="button" value="EI LÖYDY LISTALTA? KIRJOITA HYVÄ TEKOSI TÄHÄN!" id="button" />
            </a>
        </li>
        <li>
            <br />
            <a href="~/Prize/Prize/">
                <input class="btn btn-default" type="button" value="OMAT TIEDOT" id="button" />
            </a>
    </ul>
</form>
