@{
    Layout = "~/Views/MainPage/MainPageLayout.cshtml";
}

@{
    ViewBag.Title = "MainPage";
}

<body>
        <h1>Pääsivu</h1>
        <div id="PrizeButton">
            <nav>
                <ul>
                    <li>

                        <a href="~/Prize/Prize/">
                            <input type="button" value="AUTOIN MUMMOA" />
                        </a>

                    </li>
                    <li>
                        <a href="~/Prize/Prize/">
                            <input type="button" value="AVASIN OVEN TOISELLE" />
                        </a>
                    </li>
                    <li>
                        <button>
                            <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />
                            KERROIN KOHTELIAISUUDEN
                        </button>
                    </li>
                    <li>
                        <button>
                            <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />
                            SAIN TOISEN HYMYILEMÄÄN
                        </button>
                    </li>
                    <li>
                        <button>
                            <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />
                            AVASIN OVEN
                        </button>
                    </li>
                    <li>
                        <button>
                            <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />>
                            KUUNTELIN / JÄIN KESKUSTELEMAAN
                        </button>
                    </li>
                    <li>
                        <button>
                            <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />
                            TEIN LUMITYÖT TOISELLE
                        </button>
                    </li>
                    <li>
                        <button>
                            <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />
                            SIIVOSIN TOISEN SOTKUN
                        </button>
                    </li>
                    <li>
                        <button>
                            <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />
                            EI LÖYDY LISTALTA? KIRJOITA HYVÄ TEKOSI TÄHÄN!
                        </button>
                    </li>
                    <li>
                        <button>
                            <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />
                            OMAT TIEDOT
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
</body>