<!DOCTYPE html>
<html>
<head>
    <title>SIMPLE ACTS OF KINDNESS</title>
    <link href="~/Styles/MainPageStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
        &copy; 2018 - Simple acts of kindness.
    </div>
</body>
</html>
