@{
    Layout = "~/Views/MainPage/MainPageLayout.cshtml";
}

@{
    ViewBag.Title = "MainPage";
}

<h2>Pääsivu</h2>

<li>            
    <button>
        <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />
        KANNOIN MUMMON LAUKKUA
    </button>
</li>
<li>
    <button>
        <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />
        ANNOIN PAIKAN JULKISESSA KULKUVÄLINEESSÄ
    </button>
</li>
<li>
    <button>
        <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />
        KERROIN KOHTELIAISUUDEN
    </button>
</li>
<li>
    <button>
        <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />
        SAIN TOISEN HYMYILEMÄÄN
    </button>
</li>
<li>
    <button>
        <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />
        AVASIN OVEN
    </button>
</li>
<li>
    <button>
        <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />>
        KUUNTELIN / JÄIN KESKUSTELEMAAN
    </button>
</li>
<li>
    <button>
        <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />
        TEIN LUMITYÖT TOISELLE
    </button>
</li>
<li>
    <button>
        <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />
        SIIVOSIN TOISEN SOTKUN
    </button>
</li>
<li>
    <button>
        <link href="~/Content/Styles/Button1.css" rel="stylesheet" type="text/css" />
        EI LÖYDY LISTALTA? KIRJOITA HYVÄ TEKOSI TÄHÄN! 
    </button>
</li>