@{
    Layout = "~/Views/Login/LoginLayout.cshtml";
}

@{
    ViewBag.Title = "Prize";
}

<h2>Olet ansainnut palkinnon!</h2>

<div class="display-field" style="margin-left:30px;">
    <img src="~/Models/Peukku.jpg" />
    <br />
    <br />
    <a href="/Profile/ProfilePage" class="btn" id="button1" style="margin-left:110px;">Profiilisivulle</a>
</div>

