@{
    Layout = "~/Views/MainPage/MainPageLayout.cshtml";
}

@{
    ViewBag.Title = "Prize";
}

<h2>Olet ansainnut palkinnon!</h2>

<div class="display-field">
    <img src="~/Models/Peukku.jpg" />
</div>

