@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SIMPLE ACT OF KINDNESS</h1>
    <p class="lead"></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg"> &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
   
        <p><a class="btn btn-default" href=""></a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href=""> </a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href=""> </a></p>
    </div>
</div>