@*@{
        Layout = "~/Views/Profile/ProfilePageLayout.cshtml";
    }*@

@{
    ViewBag.Title = "ProfilePage";
}

<h1>SIMPLY ACT OF KINDNESS</h1>


@* Kirjatuneen henkilön nimi + uloskirjautumisnappula *@




<h3>
    Matti Meikäläinen
    <small>
        <span class="btn-group">
            <button class="btn-default" id="buttonX">Exit</button>
        </span>
    </small>
</h3>







@* Lunastamattomat palkinnot nappuloina, nappulassa palkinto + vanhemenisaika  *@


<script type="text/javascript">
    $(function () {
        $.getJSON("/Profile/Lunastamattomatpalkinnot", null, function (json) {
            var lunastamattomat = JSON.parse(json);
            alert("lunastamattomat: " + lunastamattomat.length);
            var html = "";

            for (var index = 0; index < lunastamattomat.length; index++) {
                alert("arvo on: " + lunastamattomat[index].VoimassaOloPvm);
                html +=
                    "<ul class='list-group'>" +
                    "<input class='list-group-item' value=" + lunastamattomat[index].palkintonimi + lunastamattomat[index].VoimassaOloPvm + "/>" +
                    "</ul>"
            }
            $('#lunastamattomatList').html(html);
        });
    });
</script>
<div style="background-color:blueviolet" id=lunastamattomatList>
    <p>
    </p>
</div>

<h2 style="font-size: 25px; padding-left: 20px"> Lunastetut hyvät työt</h2>

@* Tehdyt hyvät työt -lista, teko + kirjauspvm *@


@*tehtyjen tekojen listaaminen tietokannasta*@
@*JavaScriptillä JSON-kutsu palvelimelle*@
@section scripts {

    <script type="text/javascript">
        $(function () {
            $.getJSON("/Profile/Tehdytteotlista", null, function (json) {
                var tehdytTeot = JSON.parse(json);
                //alert("tehdyt teot: " + tehdytTeot.length);

                var html = "";

                for (var index = 0; index < tehdytTeot.length; index++) {
                    //alert("arvo on: " + tehdytTeot[index].Tekopvm);
                    html +=
                        "<ul class='list-group'>" +
                        "<input class='list-group-item' value=" + tehdytTeot[index].Tekopvm + tehdytTeot[index].TeonNimi + "/>" +
                        "</ul>"
                }
                $('#tehtyTekoList').html(html);
            });
        });
    </script>
}
<div style="background-color:white" id=tehtyTekoList>
    <p>
    </p>
</div>
