@{
    Layout = "~/Views/Profile/ProfilePageLayout.cshtml";
}

@{
    ViewBag.Title = "ProfilePage";
}

<h1>SIMPLY ACT OF KINDNESS</h1>


@* Kirjatuneen henkilön nimi + uloskirjautumisnappula *@

@* Lunastamattomat palkinnot nappuloina, nappulassa palkinto + vanhemenisaika  *@

<form action="action_page.php">

    <a href="">
        @* Linkitys Lunasta palkinto-sivulle puuttuu *@
        <input class="buttonX" type="button" value="TEHTY TEKO1, Käytettävä 12.2.2019 mennessä" id="button" />
    </a>

    <br>
    <br>
    <a href="">
        @* Linkitys Lunasta palkinto-sivulle puuttuu *@
        <input class="buttonX" type="button" value="TEHTY TEKO2, Käytettävä 30.5.2018 mennessä" id="button" />
    </a>
    <br>
    <br>
</form>

@* Kirjaa uusi hyvä teko-nappula, linkitys MainPage-sivulle *@
<a href="~/MainPage/MainPage" class="buttonX" id="button"> Kirjaa uusi hyvä teko</a>

<h2 style="padding-left: 20px"> Lunastetut hyvät työt</h2>

@* Tehdyt hyvät työt -lista, teko + kirjauspvm *@
<form action="action_page.php">
    <ul>
        <li> Siivosin toisen sotkun 20.12.2017 </li>
        <li> Avasin oven 2.2.2018 </li>

            @* Lista lunastetuista teoista *@

        

    </ul>

</form>