@{
    ViewBag.Title = "ProfilePage";
}
<h1>SIMPLY ACT OF KINDNESS</h1>
@* Kirjatuneen henkilön nimi + uloskirjautumisnappula *@
<h3>
    Matti Meikäläinen
    <small>
        <span class="btn-group">
            <button class="btn-default" id="buttonX">Exit</button>
        </span>
    </small>
</h3>

@* Lunastamattomat palkinnot nappuloina, nappulassa palkinto + vanhemenisaika  *@
@section scripts {
    <link href="~/Content/Styles/LoginStyle.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            $.getJSON("/Profile/Lunastamattomatpalkinnot", null, function (json) {
                var lunastamattomat = JSON.parse(json);

                var html = "";

                for (var index = 0; index < lunastamattomat.length; index++) {
                    html +=
                        "<ul class='list-group'>" +
                        "<input class='list-group-item' value=" + lunastamattomat[index].palkintonimi + lunastamattomat[index].voimassaolopvm + "/>" +
                        "</ul>"
                }
                $('#button').html(html);
            });
        });
    </script>

    <div id=button>
        <p>
        </p>
    </div>

    <h2 style="font-size: 25px; padding-left: 20px"> Lunastetut hyvät työt</h2>

    @* Tehdyt hyvät työt -lista, teko + kirjauspvm *@

    @*tehtyjen tekojen listaaminen tietokannasta JavaScriptillä JSON-kutsu palvelimelle*@
    <script type="text/javascript">
        $(function () {
            $.getJSON("/Profile/Tehdytteotlista", null, function (json) {
                var tehdytTeot = JSON.parse(json);
                //alert("tehdyt teot: " + tehdytTeot.length);

                var html = "";

                for (var index = 0; index < tehdytTeot.length; index++) {
                    //alert("arvo on: " + tehdytTeot[index].Tekopvm);
                    html +=
                        "<tr>" +
                    "<td>" + tehdytTeot[index].TeonNimi + "</td>" +
                        "<td>" + tehdytTeot[index].Tekopvm + "</td>" +
                        "</tr>\r\n";
                    //    "<ul class='list-group'>" +
                    //    "<input class='list-group-item' value=" + tehdytTeot[index].TeonNimi + tehdytTeot[index].Tekopvm + "/>" +
                    //"</ul>"
                }
                $('#tehtyTekoTaulukko').html(html);
            });
        });
    </script>
}
<div>
    <table id="tehtyTekoTaulukko">
        <tbody></tbody>
    </table>
</div>
<div id=tehtytekolist style="width:auto;">
        <ul>
        </ul>
    </div>