<!DOCTYPE html>
<html>
<head>
    <title>SIMPLY ACT OF KINDNESS</title>
    <link href="~/Content/Styles/ProfileStyle.css" rel="stylesheet" />

</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div id="footer">
        &copy; 2018 - Simply act of kindness
    </div>
</body>
</html>
