@{
    Layout = "~/Views/Profile/ProfilePageLayout.cshtml";
}

@{
    ViewBag.Title = "ProfilePage";
}

<h1>SIMPLY ACT OF KINDNESS</h1>


@* Kirjatuneen henkilön nimi + uloskirjautumisnappula *@




<h3>
    Matti Meikäläinen
    <small>
        <span class="btn-group">
            <button class="btn-default" id="buttonX">Exit</button>
        </span>
    </small>
</h3>







@* Lunastamattomat palkinnot nappuloina, nappulassa palkinto + vanhemenisaika  *@

<form action="action_page.php">
    <ul>
        <li>
            <br />
            <a href="">
                @* Linkitys Lunasta palkinto-sivulle puuttuu *@
                <input class="btn-default" type="button" value="Hesburger 2 Kerrosateriaa 1 hinnalla, Käytettävä 12.2.2019 mennessä" id="button" />
            </a>
        </li>
        <li>
            <br />
            <a href="">
                @* Linkitys Lunasta palkinto-sivulle puuttuu *@
                <input class="btn-default" type="button" value="HM 20% alennus, Käytettävä 30.5.2018 mennessä" id="button" />
            </a>
        </li>
        <li>
            <br />
            @* Kirjaa uusi hyvä teko-nappula, linkitys MainPage-sivulle *@
            <a href="~/MainPage/MainPage">
                <input class="btn-default" type="button" value="KIRJAA UUSI TEKO" id="buttonX" />
            </a>
        </li>
    </ul>
</form>
<h2 style="font-size: 25px; padding-left: 20px"> Lunastetut hyvät työt</h2>

@* Tehdyt hyvät työt -lista, teko + kirjauspvm *@
<form action="action_page.php">
    <ul>
        <li> Siivosin toisen sotkun 20.12.2017 </li>
        <li> Avasin oven 2.2.2018 </li>

        @* Lista lunastetuista teoista *@



    </ul>

</form>
