@{
    ViewBag.Title = "ProfilePage";
}


<h1>SIMPLE ACT OF KINDNESS</h1>
@* Kirjatuneen henkilön nimi + uloskirjautumisnappula *@
<h3>
    Matti Meikäläinen
    <small>
        <span class="btn-group">
            <a href="/Login/LoginPage" class="btn-default" id="button1"> @*linkitetty loginsivulle, alkuperäinen tyyli hävisi enkä keksinyt mistä sen saa takaisin AV 6.6.2018*@
                Exit
            </a>
        </span>
    </small>
</h3>


<h2>Lunastamattomat palkinnot</h2>

@* Lunastamattomat palkinnot nappuloina, nappulassa palkinto + vanhemenisaika  *@
@section scripts {
    <link href="~/Content/Styles/LoginStyle.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            $.getJSON("/Profile/Lunastamattomatpalkinnot", null, function (json) {
                var lunastamattomat = JSON.parse(json);

                var html = "";

                for (var index = 0; index < lunastamattomat.length; index++) {
                    //alert(lunastamattomat[index].voimassaolopvm);
                    var nappulateksti = lunastamattomat[index].palkintoID + " " + lunastamattomat[index].palkintonimi + " " + lunastamattomat[index].voimassaolopvm;
                    var palkintoID = lunastamattomat[index].palkintoID;
                    var url = "/lunastus/showsingleprize/" + palkintoID;
                    //alert(url);
                    html +=
                        "<div id='nappulat'>" +
                        "<a href=" + url + " class='btn btn-default'>" + nappulateksti + "</a>" +
                        "</div></div>"
                }
                $('#lunastamattomatpalkinnot p').html(html);
            });
        });
    </script>



    @* Tehdyt hyvät työt -lista, teko + kirjauspvm *@

    @*tehtyjen tekojen listaaminen tietokannasta JavaScriptillä JSON-kutsu palvelimelle*@
    <script type="text/javascript">
        $(function () {
            $.getJSON("/Profile/Tehdytteotlista", null, function (json) {
                var tehdytTeot = JSON.parse(json);
                //alert("tehdyt teot: " + tehdytTeot.length);

                var html = "";

                for (var index = 0; index < tehdytTeot.length; index++) {
                    //alert("arvo on: " + tehdytTeot[index].Tekopvm);
                    html +=
                        "<tr>" +
                        "<td>" + tehdytTeot[index].TeonNimi + "</td>" +
                        "<td>" + tehdytTeot[index].Tekopvm + "</td>" +
                        "</tr>\r\n";
                }
                $('#tehtyTekoTaulukko').html(html);
            });
        });
    </script>
}



<div id=lunastamattomatpalkinnot>
    <p>
    </p>
</div>

<h2>Tehdyt hyvät työt</h2>

<div>
    <table  class="table-responsive-sm" id="tehtyTekoTaulukko" cellpadding="4">
        <tbody id=".tbl"></tbody>
    </table>
</div>
<br />
<a href="/MainPage/Index" class="btn" id="button1">Lisää uusi hyvä teko</a>




