@{
    Layout = "~/Views/MainPage/MainPageLayout.cshtml";
}

@{
    ViewBag.Title = "Profile";
}

<h2>Omat tiedot</h2>

<li>
    <button>
        <link href="~/Styles/Button1.css" rel="stylesheet" type="text/css" />
        KANNOIN MUMMON LAUKKUA
    </button>
</li>
